<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>PriceHive</title>
  </head>
  <body>
    <h1>PriceHive</h1>
    <form action="/product" method="POST">
      <input
        type="text"
        name="product"
        id="product"
        placeholder="¿Qué buscas hoy?"
      />
      <input type="submit" id="search-btn" value="Buscar" />
    </form>
    <div class="products_container">
      <% if (locals.products) { %> <% products.forEach((prod) => { %>
      <div class="product">
        <img src="<%=prod.img%>" alt="img" />
        <h2><%= prod.name %> (<%= prod.shop %>)</h2>
        <h3>Precio: <%= prod.price %></h3>
        <h4>Descripción %></h4>
        <ul>
          <% prod.description.forEach((desc) => { %>
          <li><%= desc %></li>
          <% }) %>
        </ul>
        <a href="<%= prod.link %>">Puede comprar el producto aquí</a>
      </div>
      <% }) %> <% } %>
    </div>
    <% if (locals.currentPage) { %>
    <div class="pagination_container">
      <div class="pagination">
        <% if (currentPage > 1) { %>
        <a href="/products?page=<%= currentPage - 1 %>">Anterior</a>
        <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
        <a
          href="/products?page=<%= i %>"
          class="<%= currentPage === i ? 'active' : '' %>"
          ><%= i %></a
        >
        <% } %> <% if (currentPage < totalPages) { %>
        <a href="/products?page=<%= currentPage + 1 %>">Siguiente</a>
        <% } %>
      </div>
    </div>
    <% } %>
  </body>
</html>
